main {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.google-logo {
    max-width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.about-store {
    display: flex;
    flex-direction: row;
}

.about-store a {
    padding-left: 15px;
}

.gmail-images-apps-login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gmail-images-apps-login a {
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
}

.gmail-images-apps-login button {
    margin-right: 15px;
}

.apps-image-anchor {
    height: 24px;
    width: 24px;
}