main {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.google-logo {
    max-width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.about-store {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-around;
}

.gmail-images-apps-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 240px;
    justify-content: space-around;
}

.gmail-images-apps-login button {
    margin-right: 15px;
}

.apps-image-anchor {
    height: 24px;
    width: 24px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advertising-business-how {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.privacy-terms-settings {
    display: flex;
    width: 200px;
    justify-content: space-around;
}